@using Microsoft.Extensions.Localization;
@using Mubasa.Web.Areas.Customer.Controllers;
@using System.Globalization;
@inject IStringLocalizer<HomeController> homeLocalizer;

@model Mubasa.Models.ShoppingItem

@{
    ViewData["Title"] = @Model.Product.Name;
}

<div class="row border px-3 py-4 pb-5 rounded-3 bg-light shadow">
    <div class="row col-5">
        <div class="col-2">
            <a>
                <img class="w-100" src="@Model.Product.ImgUrl" alt="@Model.Product.Name" />
            </a>
        </div>
        <div class="col-10">
            <img class="w-100" src="@Model.Product.ImgUrl" alt="@Model.Product.Name" />
        </div>
    </div>
    <div class="col-7 px-5">
        <div class="product-essential-detail">
            <div class="product-title">
                <h1 class="fs-2">
                    @Model.Product.Name
                </h1>
            </div>
            <div class="product-basicinfo d-flex justify-content-between">
                <div>
                    <p>@homeLocalizer["Supplier"]: <span class="fw-bold">@Model.Product.Supplier.Name</span></p>
                    <p>@homeLocalizer["Publisher"]: <span class="fw-bold">@Model.Product.Publisher.Name</span></p>
                </div>
                <div>
                    <p>@homeLocalizer["Author"]: <span class="fw-bold">@Model.Product.Author.Name</span></p>
                    <p>@homeLocalizer["CoverType"]: <span class="fw-bold">@Model.Product.CoverType.Name</span></p>
                </div>
            </div>
            <div>
                <p class="fw-bold text-danger fs-3">@Model.Product.Price.ToString("C", new CultureInfo("vi-VN"))</p>
            </div>
            <div>
                <form method="post">
                    <input hidden asp-for="@Model.ProductId" />
                    <div class="d-flex">
                        <div>
                            <p class="fw-bold pe-5">Số lượng:</p>
                        </div>
                        <div class="quantity-input d-flex">
                            <button class="rounded-start px-3 border-0 bg-info" onclick="changeQuantity('-')" type="button">-</button>
                            <input class="text-center fw-bold" id="quantity" type="number" asp-for="@Model.Count" />
                            <button class="rounded-end px-3 border-0 bg-info" onclick="changeQuantity('+')" type="button">+</button>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-danger w-50 p-3" type="submit">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        .quantity-input input {
            width: 70px;
        }
    </style>

    <script>
        function changeQuantity(sign) {
            const quantityEle = document.getElementById("quantity");
            var quantity = parseInt(quantityEle.value);

            if(sign == "+") {
                quantityEle.value = quantity + 1;
            }

            if (sign == "-") {
                if(quantity == 1) return;
                quantityEle.value = quantity - 1;
            }
        }
    </script>
}