@using Microsoft.Extensions.Localization;
@using Mubasa.Web.Areas.Customer.Controllers;
@using System.Globalization;
@inject IStringLocalizer<HomeController> homeLocalizer;

@model Mubasa.Models.ViewModels.ShoppingCartVM;

@{
    ViewData["Title"] = homeLocalizer["Cart"];
}

<div class="cart">
    <div class="page-title title-buttons">
        <div class="page-title-container">
            <h1 class="fs-2 d-inline-block">@homeLocalizer["Cart"]</h1>
            <span class="cart-title-num-items">(@Model.ShoppingCarts.Count() @homeLocalizer["Products"])</span>
        </div>
    </div>

    <form method="post" id="form-cart">
        <div class="row g-5">
            <div class="col-8">
                <div class="row border rounded-3 bg-light shadow-sm p-3 mb-3">
                    <div class="col-7">
                        <span>@homeLocalizer["Products"]</span>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span>@homeLocalizer["Quantity"]</span>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span>@homeLocalizer["Subtotal"]</span>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <div class="row border rounded-3 bg-light shadow-sm p-3 py-4">
                    @if(Model.ShoppingCarts.Count() == 0)
                    {
                        <div class="text-center">
                            <span class="d-block p-3">@homeLocalizer["Nothing in your cart"]</span>
                            <a class="btn btn-danger p-2 w-25" asp-controller="Home" asp-action="Index">@homeLocalizer["Buy Now"]</a>
                        </div>
                    }
                    else {
                        var last = Model.ShoppingCarts.Last();
                        @foreach (var item in Model.ShoppingCarts)
                        {
                            <div class="col-7">
                                <div class="row">
                                    <a class="col-4 pointer" asp-controller="Home" asp-action="Details" asp-route-productId="@item.Product.Id">
                                        <img src="@item.Product.ImgUrl" width="120" />
                                    </a>
                                    <div class="col-8 d-flex flex-column justify-content-between">
                                        <a class="pointer text-decoration-none" asp-controller="Home" asp-action="Details" asp-route-productId="@item.Product.Id">
                                            <span class="fw-bold">@item.Product.Name</span>
                                        </a>
                                        <span class="product-price fw-bold">@item.Product.Price.ToString("C", new CultureInfo("vi-VN"))</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a asp-action="DecreCount" asp-route-shoppingItemId="@item.Id" class="rounded-start w-25 px-2 border-0 bg-white btn" type="button">-</a>
                                    <input required class="text-center border-0 w-50" id="quantity" type="number" value="@item.Count" />
                                    <a asp-action="IncreCount" asp-route-shoppingItemId="@item.Id" class="rounded-end w-25 px-2 border-0 bg-white btn" type="button">+</a>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <span class="product-price-quantity fw-bold text-danger fs-5">@item.SubTotal.ToString("C", new CultureInfo("vi-VN"))</span>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <a onclick='confirmDelete("@homeLocalizer["Confirm Deleting Data"]", "@homeLocalizer["Do You Want To"] @homeLocalizer["Delete"] @item.Product.Name?", "@homeLocalizer["Yes"]", "@homeLocalizer["No"]", @item.ProductId, "Customer/ShoppingCart/Delete")' class="pointer text-decoration-none" title="@homeLocalizer["Delete"]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </a>
                            </div>

                            @if (!item.Equals(last))
                            {
                                <hr class="my-4" />
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-4">
                <div class="row border rounded-3 bg-light shadow-sm p-3">
                    <div class="pb-3 d-flex justify-content-between">
                        <span>@homeLocalizer["Subtotal"]</span>
                        <span>@Model.GrandTotal.ToString("C", new CultureInfo("vi-VN"))</span>
                    </div>
                    <hr />
                    <div class="pb-3 d-flex justify-content-between">
                        <span class="fw-bold">@homeLocalizer["Grand Total"]</span>
                        <span class="fw-bold text-danger fs-5">@Model.GrandTotal.ToString("C", new CultureInfo("vi-VN"))</span>
                    </div>
                    <div>
                        <a asp-action="CheckOut" class="btn btn-danger w-100 py-3 fw-bold fs-5">@homeLocalizer["Check Out"]</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        //function myFunction() {
        //    console.log("The input value has changed. The new value is:" + this.value);
        //}

        //document.getElementById("quantity").addEventListener("change", myFunction);


        //function changeQuantity(sign) {
        //    const quantityEle = document.getElementById("quantity");
        //    var quantity = parseInt(quantityEle.value);

        //    if (sign) {
        //        if (sign == "+") {
        //            quantityEle.value = quantity + 1;
        //        }

        //        if (sign == "-") {
        //            if (quantity == 1) return;
        //            quantityEle.value = quantity - 1;
        //        }
        //    }
        //}

        //function convertCurrencyToInt(price) {
        //    var number = price.replace("đ", "").replace(".", "");
        //    return parseInt(number);
        //}
    </script>
}