@using Microsoft.Extensions.Localization;
@using Mubasa.Web.Areas.Customer.Controllers;
@using System.Globalization;
@inject IStringLocalizer<HomeController> homeLocalizer;

@model Mubasa.Models.ViewModels.ShoppingCartVM;

@{
    ViewData["Title"] = homeLocalizer["Cart"];
}

<div class="cart">
    <div class="page-title title-buttons">
        <div class="page-title-container">
            <h1 class="fs-2 d-inline-block">@homeLocalizer["Cart"]</h1>
            <span class="cart-title-num-items">(@Model.ShoppingCart.Count() @homeLocalizer["Products"])</span>
        </div>
    </div>

    <form method="post" id="form-cart">
        <div class="row g-5">
            <div class="col-8">
                <div class="row border rounded-3 bg-light shadow-sm p-3 mb-3">
                    <div class="col-7">
                        <span>@homeLocalizer["Products"]</span>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span>@homeLocalizer["Quantity"]</span>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span>@homeLocalizer["Subtotal"]</span>
                    </div>
                    <div class="col-1">
                        
                    </div>
                </div>
                <div class="row border rounded-3 bg-light shadow-sm p-3 py-4">
                    @if(Model.ShoppingCart.Count() == 0)
                    {
                        <div class="text-center">
                            <span class="d-block p-3">@homeLocalizer["Nothing in your cart"]</span>
                            <a class="btn btn-danger p-2 w-25" asp-controller="Home" asp-action="Index">@homeLocalizer["Buy Now"]</a>
                        </div>
                    }
                    else {
                        var last = Model.ShoppingCart.Last();
                        @foreach (var item in Model.ShoppingCart)
                        {
                            <div class="col-7">
                                <div class="row">
                                    <a class="col-4 pointer" asp-controller="Home" asp-action="Details" asp-route-productId="@item.Product.Id">
                                        <img src="@item.Product.ImgUrl" width="120" />
                                    </a>
                                    <div class="col-8 d-flex flex-column justify-content-between">
                                        <a class="pointer text-decoration-none" asp-controller="Home" asp-action="Details" asp-route-productId="@item.Product.Id">
                                            <span class="fw-bold">@item.Product.Name</span>
                                        </a>
                                        <span class="product-price fw-bold">@item.Product.Price.ToString("C", new CultureInfo("vi-VN"))</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a asp-action="DecreCount" asp-route-shoppingItemId="@item.Id" class="rounded-start w-25 px-2 border-0 bg-white btn" type="button">-</a>
                                    <input required class="text-center border-0 w-50" id="quantity" type="number" value="@item.Count" />
                                    <a asp-action="IncreCount" asp-route-shoppingItemId="@item.Id" class="rounded-end w-25 px-2 border-0 bg-white btn" type="button">+</a>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <span class="product-price-quantity fw-bold text-danger fs-5">@item.SubTotal.ToString("C", new CultureInfo("vi-VN"))</span>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <a onclick='confirmDelete("@homeLocalizer["Confirm Deleting Data"]", "@homeLocalizer["Do You Want To"] @homeLocalizer["Delete"] @item.Product.Name?", "@homeLocalizer["Yes"]", "@homeLocalizer["No"]", @item.ProductId, "Customer/ShoppingCart/Delete")' class="pointer text-decoration-none" title="@homeLocalizer["Delete"]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </a>
                            </div>

                            @if (!item.Equals(last))
                            {
                                <hr class="my-4" />
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-4">
                <div class="row border rounded-3 bg-light shadow-sm p-3 mb-3">
                    @if(Model.Address != null)
                    {
                        <div class="d-flex justify-content-between">
                            <h5 class="fw-bold">Giao tới</h5>
                            <a asp-controller="Address" asp-action="Index" class="">Thay đổi</a>
                        </div>
                        
                        <div class="d-flex gx-3">
                            <p class="fw-bold">@Model.Address.ReceiverName</p>
                            <p class="fw-bold">&nbsp - &nbsp</p>
                            <p class="fw-bold">@Model.Address.PhoneNumber</p>
                        </div>
                        <div class="address">
                            <span class="">
                                <span class="text-success fw-bold bg-white px-1">@Model.Address.Name</span> &nbsp &nbsp @Model.Address.FullAddress
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="">
                            <h5 class="fw-bold">Giao tới</h5>
                            <hr />
                            <div class="d-flex justify-content-center">
                                <div class="text-center border border-2 p-2 w-50 rounded-3">
                                    <a asp-controller="Address" asp-action="Index" class="text-decoration-none" style="cursor:pointer;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                                            <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                        </svg>
                                        <p class="mb-0">Chọn địa chỉ</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row border rounded-3 bg-light shadow-sm p-3">
                    <div class="pb-3 d-flex justify-content-between">
                        <span>@homeLocalizer["Subtotal"]</span>
                        <span>@Model.SubTotal.ToString("C", new CultureInfo("vi-VN"))</span>
                    </div>
                    <hr />
                    <div class="pb-3 d-flex justify-content-between">
                        <span class="fw-bold">@homeLocalizer["Grand Total"]</span>
                        <span class="fw-bold text-danger fs-5">@Model.SubTotal.ToString("C", new CultureInfo("vi-VN"))</span>
                    </div>
                    <div>
                        <a asp-action="CheckOut" class="btn btn-danger w-100 py-3 fw-bold fs-5">@homeLocalizer["Check Out"]</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
