@*<div class="border rounded-3 bg-light shadow-sm p-3 mb-3">
    <h1 class="fs-3">Shipping Address</h1>
    <hr />
    <div class="row p-2">
        <label asp-for="OrderHeader.RecevierName" class="col-3">
            @homeLocalizer["Full name of recipient"]:
        </label>
        <input asp-for="OrderHeader.RecevierName" class="form-control w-50" />
        <span asp-validation-for="OrderHeader.RecevierName" class="text-danger"></span>
    </div>
    <div class="row p-2">
        <label asp-for="OrderHeader.RecevierPhoneNumber" class="col-3">
            @homeLocalizer["Phone number"]:
        </label>
        <input asp-for="OrderHeader.RecevierPhoneNumber" type="number" class="col-6 rounded py-1 form-control w-50" />
        <span asp-validation-for="OrderHeader.RecevierPhoneNumber" class="text-danger"></span>
    </div>
    <div class="row p-2">
        <label asp-for="OrderHeader.Province" class="col-3">
            @homeLocalizer["Province/City"]:
        </label>
        <select asp-for="OrderHeader.Province" id="province-selector" class="form-select w-50" name="provinceId">
            <option selected disabled>--- @homeLocalizer["Sellect"] @homeLocalizer["Province/City"] ---</option>
        </select>
        <input id="province-hidden" hidden value="@Model.OrderHeader.Province" />
        <span asp-validation-for="OrderHeader.Province" class="text-danger"></span>
    </div>
    <div class="row p-2">
        <label asp-for="OrderHeader.District" class="col-3">
            @homeLocalizer["District"]:
        </label>
        <select asp-for="OrderHeader.District" id="district-selector" class="form-select w-50">
            <option selected disabled>--- @homeLocalizer["Select"] @homeLocalizer["District"] ---</option>
        </select>
        <input id="district-hidden" hidden value="@Model.OrderHeader.District" />
        <span asp-validation-for="OrderHeader.District" class="text-danger"></span>
    </div>
    <div class="row p-2">
        <label asp-for="OrderHeader.Ward" class="col-3">
            @homeLocalizer["Wards"]:
        </label>
        <select asp-for="OrderHeader.Ward" id="ward-selector" class="form-select w-50">
            <option selected disabled>--- @homeLocalizer["Select"] @homeLocalizer["Wards"] ---</option>
        </select>
        <input id="ward-hidden" hidden value="@Model.OrderHeader.Ward" />
        <span asp-validation-for="OrderHeader.Ward" class="text-danger"></span>
    </div>
    <div class="row p-2">
        <label asp-for="OrderHeader.ShippingAddress" class="col-3">
            @homeLocalizer["Home address"]:
        </label>
        <input asp-for="OrderHeader.ShippingAddress" class="col-6 rounded py-1 form-control w-50" />
        <span asp-validation-for="OrderHeader.ShippingAddress" class="text-danger"></span>
    </div>
</div>*@

@*                [HttpGet]
        public async Task<IActionResult>
    LoadAddress(string type, int? id)
    {
    try
    {
    GiaoHangNhanh GHN = new GiaoHangNhanh()
    {
    EndPoint = _ghn.Value.EndPoint,
    Token = _ghn.Value.Token
    };

    IEnumerable<dynamic>
        ? addressData;
        switch (type)
        {
        case "province":
        addressData = await GHN.GetAddress($"province");
        break;
        case "district":
        addressData = await GHN.GetAddress($"district?province_id={id}");
        break;
        case "ward":
        addressData = await GHN.GetAddress($"ward?district_id={id}");
        break;
        default:
        return Json(new { success = false, data = "Not Found" });
        }

        return Json(new { success = true, data = JsonObject.Parse(addressData.ToJson()) });
        }
        catch (Exception)
        {
        return Json(new { success = false, data = $"Something went wrong" });
        }
        }
*@