@page
@using Microsoft.Extensions.Localization;
@using Mubasa.Web.Areas.Customer.Controllers;
@model LoginModel
@inject IStringLocalizer<HomeController> homeLocalizer;
@{
    ViewData["Title"] = homeLocalizer["Log in"];
}

<div class="row mt-5">
    <div class="col-6 m-auto border rounded-3 bg-light shadow-sm p-3 mb-3">
        <section>
            <form id="account" method="post">
                <div class="px-5 py-3 d-flex flex-column gap-3">
                    <div class="text-center">
                        <h2>@homeLocalizer["Log in"]</h2>
                        <p>Welcome back! Please login to your account</p>
                        <hr />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="d-flex flex-column gap-3">
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @homeLocalizer["Remember me"]
                            </label>
                        </div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">@homeLocalizer["Forgot password"]?</a>
                        </p>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-danger">@homeLocalizer["Log in"]</button>
                    </div>
                    <div class="d-flex gap-2 justify-content-center">
                        <p>@homeLocalizer["New user"]?</p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@homeLocalizer["Sign up"]</a>
                        </p>
                    </div>
                </div>
            </form>
        </section>

        <section>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="d-flex px-5">
                    <button value="Facebook" name="provider" type="submit" class="btn w-50 btn-lg btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                        </svg>
                        Facebook
                    </button>
                    <button value="Google" name="provider" type="submit" class="btn w-50 btn-lg btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                        </svg>
                        Google
                    </button>
                </div>
            </form>
        </section>
    </div>
   
    <div class="text-center">
        <p>Root user</p>
        <p>Username: root.user@mubasa.com</p>
        <p>Password: Root.user.01@mubasa.com</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
